.a2-main input[type=number]{
    box-shadow: 
        12px 12px 24px 0 rgba(0, 0, 0, 0.2),
        -12px -12px 24px 0 rgba(255, 255, 255, 0.5);
    font-size: 5rem;
    padding: 2rem;
    /* width: clamp(50px, 100%, 195px);
    height: clamp(50px, 100%, 195px); */
    width: 195px;
    height: 195px;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    text-align: center;

    box-shadow: 
        inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
        inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);

}
.a2-main input[type=number]::-webkit-outer-spin-button,
.a2-main input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
    

.a2-button{
    width: 50px;
}

i{
    font-size: 3rem;
}

.a2-main {
    height: 550px;
    padding: 20px 1.2em 20px 1.2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: nowrap;
    gap: 3em;
}

.a2-main div {
    height: 170px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    gap: 0.3em;
}