@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body{
  min-width: 100vw;
  min-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: consolas, Arial, Helvetica, sans-serif;

  background-image: url("/astronomy.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top center;

  overflow: hidden;

}

footer {
  display: flex;
  gap: 1rem;
}

